<div class = 'box'>
<h1 class = 'title'> Message Board</h1>
  <h2> Enter Your Message </h2>
  <div class="enter-text">
    <textarea class="current-message" #currentMessage></textarea>
    <button type = "button" class="btn sub" (click)="submitMessage(currentMessage.value)" >Submit</button>
  </div>
  <div class = "message-history" *ngIf="message_content !== undefined" >
   <div class = "message-block" *ngFor="let message of message_content">
     <p>Date: {{message.time}}</p>
     <p>Message: {{message.message}}</p>
   </div>
    <button type="button" class="btn btn-danger" (click)="clearMessageStorage()">Clear Message History</button>
  </div>

</div>

